.myMasonryGrid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -20px; /* gutter size offset */
    width: auto;
}

.gridColumn {
    padding-left: 20px; /* gutter size */
    background-clip: padding-box;
}
.gridColumn > div {
    margin-bottom: 30px;
}
